# Pandas Hadnbook

## Importing modules

In [3]:
import pandas as pd
import numpy as np

"""To import a module use keyword import and module name. The name after as is a reference to the module. 
You can import the hole whole module or single parts of it with from module_name import function, var etc."""

In [5]:
from math import inf
a = inf
print(a)

inf

In [6]:
pd.__version__

'1.4.2'

# Loading Data

In [8]:
data = pd.read_csv(r'movies.csv', engine='python')

In [9]:
data.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

"""
Most common use is read_csv and read_excel.
Mosty you will use this raw format of the function but there are ser='symbol' separator used for data stored in one column.
Encoding by default utf-8 but in some special cases you might need other.
data.head() cuts the data and gets oly the first 4
"""

# Selection

In [12]:
data.columns

Index(['name', 'rating', 'genre', 'year', 'released', 'score', 'votes',
       'director', 'writer', 'star', 'country', 'budget', 'gross', 'company',
       'runtime'],
      dtype='object')

"""Selection single column"""

In [14]:
data.name

0                                          The Shining
1                                      The Blue Lagoon
2       Star Wars: Episode V - The Empire Strikes Back
3                                            Airplane!
4                                           Caddyshack
                             ...
7663                                      More to Life
7664                                       Dream Round
7665                                     Saving Mbango
7666                                      It's Just Us
7667                                         Tee em el
Name: name, Length: 7668, dtype: object

In [15]:
data['name']

0                                          The Shining
1                                      The Blue Lagoon
2       Star Wars: Episode V - The Empire Strikes Back
3                                            Airplane!
4                                           Caddyshack
                             ...
7663                                      More to Life
7664                                       Dream Round
7665                                     Saving Mbango
7666                                      It's Just Us
7667                                         Tee em el
Name: name, Length: 7668, dtype: object

"""Selectiong multiple columns"""

In [17]:
data[['name','year']]

                                                name  year
0                                        The Shining  1980
1                                    The Blue Lagoon  1980
2     Star Wars: Episode V - The Empire Strikes Back  1980
3                                          Airplane!  1980
4                                         Caddyshack  1980
...                                              ...   ...
7663                                    More to Life  2020
7664                                     Dream Round  2020
7665                                   Saving Mbango  2020
7666                                    It's Just Us  2020
7667                                       Tee em el  2020

[7668 rows x 2 columns]

"""data.columns returns a list and all python list functions work over it"""

In [19]:
data[data.columns[2:4]]

          genre  year
0         Drama  1980
1     Adventure  1980
2        Action  1980
3        Comedy  1980
4        Comedy  1980
...         ...   ...
7663      Drama  2020
7664     Comedy  2020
7665      Drama  2020
7666      Drama  2020
7667     Horror  2020

[7668 rows x 2 columns]

In [20]:
"""Last column"""
data[data.columns[-1]]

0       146.0
1       104.0
2       124.0
3        88.0
4        98.0
        ...
7663     90.0
7664     90.0
7665      NaN
7666    120.0
7667    102.0
Name: runtime, Length: 7668, dtype: float64

# loc vs iloc

"""
loc[row, column] used to get rows and or columns by their label
iloc[row, column] used to get rows and columns by their position
"""

In [23]:
data.loc[1,'genre']

'Adventure'

In [24]:
data.iloc[1,2]

'Adventure'

"""As you can see in the first case i have to know the nama(label) of the column in the second the position of the column"""

In [26]:
data.iloc[1:5,1:3]

  rating      genre
1      R  Adventure
2     PG     Action
3     PG     Comedy
4      R     Comedy

In [27]:
data.loc[1:5,['rating','genre']]

  rating      genre
1      R  Adventure
2     PG     Action
3     PG     Comedy
4      R     Comedy
5      R     Horror

# Boolean indexing

In [29]:
data[data.score>=4]

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7658,Black Wall Street Burning,R,Drama,2020,"February 7, 2020 (United States)",6.6,35.0,Marcus Brown,Dekoven Riggins,Dan Belcher,United States,5000.0,NaN,Notis Studio,78.0
7660,Aloha Surf Hotel,NaN,Comedy,2020,"November 5, 2020 (United States)",7.1,14.0,Stefan C. Schaefer,Stefan C. Schaefer,Augie Tulba,United States,NaN,NaN,Abominable Pictures,90.0
7664,Dream Round,NaN,Comedy,2020,"February 7, 2020 (United States)",4.7,36.0,Dusty Dukatz,Lisa Huston,Michael Saquella,United States,NaN,NaN,Cactus Blue Entertainment,90.0
7665,Saving Mbango,NaN,Drama,2020,"April 27, 2020 (Cameroon)",5.7,29.0,Nkanya Nkwai,Lynno Lovert,Onyama Laura,United States,58750.0,NaN,Embi Productions,NaN
7667,Tee em el,NaN,Horror,2020,"August 19, 2020 (United States)",5.7,7.0,Pereko Mosia,Pereko Mosia,Siyabonga Mabaso,South Africa,NaN,NaN,PK 65 Films,102.0

In [30]:
data[data.score<=4]

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
80,Phobia,R,Drama,1980,"September 9, 1980 (United States)",4.0,546.0,John Huston,Gary Sherman,Paul Michael Glaser,Canada,5100000.0,59167.0,Borough Park Productions,94.0
120,Tarzan the Ape Man,Approved,Adventure,1981,"July 24, 1981 (United States)",3.4,5300.0,John Derek,Tom Rowe,Bo Derek,United States,6500000.0,36565280.0,Metro-Goldwyn-Mayer (MGM),115.0
190,Inchon,PG,Drama,1981,"September 17, 1982 (United States)",2.7,659.0,Terence Young,Robin Moore,Laurence Olivier,South Korea,46000000.0,5200986.0,One Way Productions,140.0
198,Scream,R,Horror,1981,"January 1, 1981 (United States)",2.9,674.0,Byron Quisenberry,Byron Quisenberry,Pepper Martin,United States,NaN,NaN,Calendar International Pictures,82.0
256,Megaforce,PG,Action,1982,"June 25, 1982 (United States)",3.7,3400.0,Hal Needham,Bob Kachler,Barry Bostwick,Hong Kong,20000000.0,5675599.0,Golden Harvest Company,99.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7595,Student of the Year 2,Not Rated,Action,2019,"May 10, 2019 (United States)",2.2,18000.0,Punit Malhotra,Arshad Sayed,Tiger Shroff,India,NaN,1635907.0,Fox STAR Studios,146.0
7616,High on the Hog,R,Action,2019,"April 16, 2019 (United States)",3.5,195.0,Tony Wash,Andy Golub,Sid Haig,United States,1200000.0,45696.0,Hicktown Entertainment,85.0
7640,El Coyote,R,Action,2019,"October 4, 2019 (United States)",3.0,122.0,Jeffrey Nicholson,Jeffrey Nicholson,Michael Saquella,United States,NaN,1101470.0,Cactus Blue Entertainment,93.0
7659,I Am Fear,Not Rated,Horror,2020,"March 3, 2020 (United States)",3.4,447.0,Kevin Shulman,Kevin Shulman,Kristina Klebe,United States,NaN,13266.0,Roxwell Films,87.0
7663,More to Life,NaN,Drama,2020,"October 23, 2020 (United States)",3.1,18.0,Joseph Ebanks,Joseph Ebanks,Shannon Bond,United States,7000.0,NaN,NaN,90.0

In [31]:
data[data.score<=4].score.count()

149

In [32]:
data[data.gross.isna()]

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
27,Raise the Titanic,PG,Action,1980,"August 1, 1980 (United States)",5.0,4100.0,Jerry Jameson,Adam Kennedy,Jason Robards,United Kingdom,36000000.0,NaN,ITC Films,115.0
41,Breaker Morant,PG,Drama,1980,"July 3, 1980 (Australia)",7.9,13000.0,Bruce Beresford,Jonathan Hardy,Edward Woodward,Australia,NaN,NaN,The South Australian Film Corporation,107.0
47,The Boogey Man,R,Horror,1980,"November 7, 1980 (United States)",4.6,3900.0,Ulli Lommel,Ulli Lommel,Suzanna Love,United States,300000.0,NaN,The Jerry Gross Organization,82.0
49,Lion of the Desert,PG,Biography,1980,"May 16, 1981 (Japan)",8.3,15000.0,Moustapha Akkad,David Butler,Anthony Quinn,Libya,35000000.0,NaN,Falcon International Productions,173.0
52,Can't Stop the Music,PG,Biography,1980,"June 20, 1980 (United States)",4.2,3700.0,Nancy Walker,Bronte Woodard,Ray Simpson,United States,20000000.0,NaN,EMI Films,124.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7663,More to Life,NaN,Drama,2020,"October 23, 2020 (United States)",3.1,18.0,Joseph Ebanks,Joseph Ebanks,Shannon Bond,United States,7000.0,NaN,NaN,90.0
7664,Dream Round,NaN,Comedy,2020,"February 7, 2020 (United States)",4.7,36.0,Dusty Dukatz,Lisa Huston,Michael Saquella,United States,NaN,NaN,Cactus Blue Entertainment,90.0
7665,Saving Mbango,NaN,Drama,2020,"April 27, 2020 (Cameroon)",5.7,29.0,Nkanya Nkwai,Lynno Lovert,Onyama Laura,United States,58750.0,NaN,Embi Productions,NaN
7666,It's Just Us,NaN,Drama,2020,"October 1, 2020 (United States)",NaN,NaN,James Randall,James Randall,Christina Roz,United States,15000.0,NaN,NaN,120.0
7667,Tee em el,NaN,Horror,2020,"August 19, 2020 (United States)",5.7,7.0,Pereko Mosia,Pereko Mosia,Siyabonga Mabaso,South Africa,NaN,NaN,PK 65 Films,102.0

In [33]:
data[data.gross.notna()]

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7653,The Quarry,R,Crime,2020,"April 17, 2020 (Mexico)",5.4,2400.0,Scott Teems,Scott Teems,Shea Whigham,United States,NaN,3661.0,Prowess Pictures,98.0
7655,Legend of Deification,TV-PG,Animation,2020,"October 1, 2020 (United States)",6.6,1300.0,Teng Cheng,NaN,Guangtao Jiang,China,NaN,240663149.0,Beijing Enlight Pictures,110.0
7656,Tulsa,PG-13,Comedy,2020,"June 3, 2020 (United States)",5.0,294.0,Scott Pryor,Scott Pryor,Scott Pryor,United States,NaN,413378.0,Pryor Entertainment,120.0
7657,Leap,NaN,Drama,2020,"September 25, 2020 (United States)",6.7,903.0,Peter Ho-Sun Chan,Ji Zhang,Gong Li,China,NaN,25818882.0,NaN,135.0
7659,I Am Fear,Not Rated,Horror,2020,"March 3, 2020 (United States)",3.4,447.0,Kevin Shulman,Kevin Shulman,Kristina Klebe,United States,NaN,13266.0,Roxwell Films,87.0

In [34]:
data.groupby('rating').agg({'budget':'sum'})

                 budget
rating
Approved   6.500000e+06
G          5.916570e+09
NC-17      1.207500e+08
Not Rated  3.812042e+08
PG         4.013572e+10
PG-13      8.829308e+10
R          6.054087e+10
TV-14      0.000000e+00
TV-MA      5.400000e+07
TV-PG      0.000000e+00
Unrated    5.996377e+07
X          1.700000e+07

In [35]:
data.groupby('rating').count()

,name,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
rating,,,,,,,,,,,,,,
Approved,1,1,1,1,1,1,1,1,1,1,1,1,1,1
G,153,153,153,153,153,153,153,153,153,153,111,152,153,153
NC-17,23,23,23,23,23,23,23,23,23,23,12,23,23,23
Not Rated,283,283,283,283,283,283,283,282,283,283,48,259,283,283
PG,1252,1252,1252,1252,1252,1252,1252,1252,1252,1252,918,1222,1249,1252
PG-13,2112,2112,2112,2112,2112,2112,2112,2112,2112,2112,1737,2091,2111,2111
R,3697,3697,3697,3695,3696,3696,3697,3697,3697,3695,2629,3613,3690,3695
TV-14,1,1,1,1,1,1,1,1,1,1,0,1,1,1
TV-MA,9,9,9,9,9,9,9,9,9,9,2,9,9,9
TV-PG,5,5,5,5,5,5,5,4,5,5,0,4,5,5
Unrated,52,52,52,52,52,52,52,51,52,52,18,47,51,52
X,3,3,3,3,3,3,3,3,3,3,1,3,3,3

In [36]:
data.year.min()

1980

In [37]:
data.year.max()

2020

In [38]:
data[data.year == data.year.max()]

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
7643,Tenet,PG-13,Action,2020,"September 3, 2020 (United States)",7.4,387000.0,Christopher Nolan,Christopher Nolan,John David Washington,United States,205000000.0,363656624.0,Warner Bros.,150.0
7644,Wonder Woman 1984,PG-13,Action,2020,"December 25, 2020 (United States)",5.4,217000.0,Patty Jenkins,Patty Jenkins,Gal Gadot,United States,NaN,166534027.0,Atlas Entertainment,151.0
7645,Birds of Prey,R,Action,2020,"February 7, 2020 (United States)",6.1,190000.0,Cathy Yan,Christina Hodson,Margot Robbie,United States,84500000.0,201858461.0,Clubhouse Pictures (II),109.0
7646,The Invisible Man,R,Drama,2020,"February 28, 2020 (United States)",7.1,186000.0,Leigh Whannell,Leigh Whannell,Elisabeth Moss,Canada,7000000.0,143151000.0,Universal Pictures,124.0
7647,Onward,PG,Animation,2020,"March 6, 2020 (United States)",7.4,120000.0,Dan Scanlon,Dan Scanlon,Tom Holland,United States,NaN,141950608.0,Walt Disney Pictures,102.0
7648,Bad Boys for Life,R,Action,2020,"January 17, 2020 (United States)",6.6,140000.0,Adil El Arbi,Peter Craig,Will Smith,United States,90000000.0,426505244.0,Columbia Pictures,124.0
7649,Sonic the Hedgehog,PG,Action,2020,"February 14, 2020 (United States)",6.5,102000.0,Jeff Fowler,Pat Casey,Ben Schwartz,United States,85000000.0,319715683.0,Paramount Pictures,99.0
7650,Dolittle,PG,Adventure,2020,"January 17, 2020 (United States)",5.6,53000.0,Stephen Gaghan,Stephen Gaghan,Robert Downey Jr.,United States,175000000.0,245487753.0,Universal Pictures,101.0
7651,The Call of the Wild,PG,Adventure,2020,"February 21, 2020 (United States)",6.8,42000.0,Chris Sanders,Michael Green,Harrison Ford,Canada,135000000.0,111105497.0,20th Century Studios,100.0
7652,The Eight Hundred,Not Rated,Action,2020,"August 28, 2020 (United States)",6.8,3700.0,Hu Guan,Hu Guan,Zhi-zhong Huang,China,80000000.0,461421559.0,Beijing Diqi Yinxiang Entertainment,149.0
7653,The Quarry,R,Crime,2020,"April 17, 2020 (Mexico)",5.4,2400.0,Scott Teems,Scott Teems,Shea Whigham,United States,NaN,3661.0,Prowess Pictures,98.0
7654,Star Trek First Frontier,NaN,Sci-Fi,2020,"September 8, 2020 (United States)",5.7,165.0,Kenneth Smith,Keith Brooks,Robert Pralgo,United States,370000.0,NaN,An Impulsive Production,85.0
7655,Legend of Deification,TV-PG,Animation,2020,"October 1, 2020 (United States)",6.6,1300.0,Teng Cheng,NaN,Guangtao Jiang,China,NaN,240663149.0,Beijing Enlight Pictures,110.0
7656,Tulsa,PG-13,Comedy,2020,"June 3, 2020 (United States)",5.0,294.0,Scott Pryor,Scott Pryor,Scott Pryor,United States,NaN,413378.0,Pryor Entertainment,120.0
7657,Leap,NaN,Drama,2020,"September 25, 2020 (United States)",6.7,903.0,Peter Ho-Sun Chan,Ji Zhang,Gong Li,China,NaN,25818882.0,NaN,135.0
7658,Black Wall Street Burning,R,Drama,2020,"February 7, 2020 (United States)",6.6,35.0,Marcus Brown,Dekoven Riggins,Dan Belcher,United States,5000.0,NaN,Notis Studio,78.0
7659,I Am Fear,Not Rated,Horror,2020,"March 3, 2020 (United States)",3.4,447.0,Kevin Shulman,Kevin Shulman,Kristina Klebe,United States,NaN,13266.0,Roxwell Films,87.0
7660,Aloha Surf Hotel,NaN,Comedy,2020,"November 5, 2020 (United States)",7.1,14.0,Stefan C. Schaefer,Stefan C. Schaefer,Augie Tulba,United States,NaN,NaN,Abominable Pictures,90.0
7661,Love by Drowning,R,Drama,2020,"November 6, 2020 (United States)",NaN,NaN,Justin Kreinbrink,C.E. Poverman,Nicky Whelan,United States,1000000.0,NaN,Dow Jazz Films,121.0
7662,The Robinsons,NaN,Action,2020,"November 10, 2020 (United States)",NaN,NaN,Directors,Aleks Alifirenko Jr.,Billy Hartmann,United States,10000.0,NaN,NaN,90.0
7663,More to Life,NaN,Drama,2020,"October 23, 2020 (United States)",3.1,18.0,Joseph Ebanks,Joseph Ebanks,Shannon Bond,United States,7000.0,NaN,NaN,90.0
7664,Dream Round,NaN,Comedy,2020,"February 7, 2020 (United States)",4.7,36.0,Dusty Dukatz,Lisa Huston,Michael Saquella,United States,NaN,NaN,Cactus Blue Entertainment,90.0
7665,Saving Mbango,NaN,Drama,2020,"April 27, 2020 (Cameroon)",5.7,29.0,Nkanya Nkwai,Lynno Lovert,Onyama Laura,United States,58750.0,NaN,Embi Productions,NaN
7666,It's Just Us,NaN,Drama,2020,"October 1, 2020 (United States)",NaN,NaN,James Randall,James Randall,Christina Roz,United States,15000.0,NaN,NaN,120.0
7667,Tee em el,NaN,Horror,2020,"August 19, 2020 (United States)",5.7,7.0,Pereko Mosia,Pereko Mosia,Siyabonga Mabaso,South Africa,NaN,NaN,PK 65 Films,102.0

In [39]:
pd.to_datetime(data.year)

0      1970-01-01 00:00:00.000001980
1      1970-01-01 00:00:00.000001980
2      1970-01-01 00:00:00.000001980
3      1970-01-01 00:00:00.000001980
4      1970-01-01 00:00:00.000001980
                    ...
7663   1970-01-01 00:00:00.000002020
7664   1970-01-01 00:00:00.000002020
7665   1970-01-01 00:00:00.000002020
7666   1970-01-01 00:00:00.000002020
7667   1970-01-01 00:00:00.000002020
Name: year, Length: 7668, dtype: datetime64[ns]

In [40]:
data.year.dtype

dtype('int64')

In [41]:
data.year.astype(str)

0       1980
1       1980
2       1980
3       1980
4       1980
        ...
7663    2020
7664    2020
7665    2020
7666    2020
7667    2020
Name: year, Length: 7668, dtype: object

# Setting

In [43]:
data.loc[:,'new'] = 'empty'

In [44]:
data.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime,new
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0,empty
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0,empty
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0,empty
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0,empty
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0,empty

In [45]:
data.loc[:,'new'] = 1
data.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime,new
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0,1
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0,1
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0,1
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0,1
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0,1

In [46]:
data.loc[:,'new'] = data.budget/data.score
data.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime,new
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0,2.261905e+06
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0,7.758621e+05
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0,2.068966e+06
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0,4.545455e+05
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0,8.219178e+05

'''
data.dropna()
data.fillna(value=0)
'''

data.loc['new'] = pd.mask(data.score>6, 'good', 'bad')
data.head()

In [48]:
data.score = data.score.apply(lambda x: x*10)

In [49]:
data.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime,new
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",84.0,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0,2.261905e+06
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",58.0,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0,7.758621e+05
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",87.0,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0,2.068966e+06
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",77.0,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0,4.545455e+05
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",73.0,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0,8.219178e+05

"""
aplly is done on row or column
apllymap is over whole dataframe
"""

In [52]:
years = data.year.unique().tolist()
years

[1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020]

In [54]:
exchange = pd.DataFrame({'year':years,'exch':[x for x in range(len(years))]})

In [55]:
exchange

    year  exch
0   1980     0
1   1981     1
2   1982     2
3   1983     3
4   1984     4
5   1985     5
6   1986     6
7   1987     7
8   1988     8
9   1989     9
10  1990    10
11  1991    11
12  1992    12
13  1993    13
14  1994    14
15  1995    15
16  1996    16
17  1997    17
18  1998    18
19  1999    19
20  2000    20
21  2001    21
22  2002    22
23  2003    23
24  2004    24
25  2005    25
26  2006    26
27  2007    27
28  2008    28
29  2009    29
30  2010    30
31  2011    31
32  2012    32
33  2013    33
34  2014    34
35  2015    35
36  2016    36
37  2017    37
38  2018    38
39  2019    39
40  2020    40

In [57]:
data_exch = data.merge(exchange,how='left',on='year')
data_exch.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime,new,exch
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",84.0,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0,2.261905e+06,0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",58.0,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0,7.758621e+05,0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",87.0,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0,2.068966e+06,0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",77.0,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0,4.545455e+05,0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",73.0,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0,8.219178e+05,0

In [58]:
data_exch['new_test']=data_exch['budget']*data_exch['exch']

In [59]:
data_exch

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime,new,exch,new_test
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",84.0,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0,2.261905e+06,0,0.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",58.0,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0,7.758621e+05,0,0.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",87.0,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0,2.068966e+06,0,0.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",77.0,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0,4.545455e+05,0,0.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",73.0,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0,8.219178e+05,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7663,More to Life,NaN,Drama,2020,"October 23, 2020 (United States)",31.0,18.0,Joseph Ebanks,Joseph Ebanks,Shannon Bond,United States,7000.0,NaN,NaN,90.0,2.258065e+03,40,280000.0
7664,Dream Round,NaN,Comedy,2020,"February 7, 2020 (United States)",47.0,36.0,Dusty Dukatz,Lisa Huston,Michael Saquella,United States,NaN,NaN,Cactus Blue Entertainment,90.0,NaN,40,NaN
7665,Saving Mbango,NaN,Drama,2020,"April 27, 2020 (Cameroon)",57.0,29.0,Nkanya Nkwai,Lynno Lovert,Onyama Laura,United States,58750.0,NaN,Embi Productions,NaN,1.030702e+04,40,2350000.0
7666,It's Just Us,NaN,Drama,2020,"October 1, 2020 (United States)",NaN,NaN,James Randall,James Randall,Christina Roz,United States,15000.0,NaN,NaN,120.0,NaN,40,600000.0
7667,Tee em el,NaN,Horror,2020,"August 19, 2020 (United States)",57.0,7.0,Pereko Mosia,Pereko Mosia,Siyabonga Mabaso,South Africa,NaN,NaN,PK 65 Films,102.0,NaN,40,NaN

In [60]:
"""
merge on = column to merge
how{‘left’, ‘right’, ‘outer’, ‘inner’, ‘cross’}, default ‘inner’

    Type of merge to be performed.

        left: use only keys from left frame, similar to a SQL left outer join; preserve key order.

        right: use only keys from right frame, similar to a SQL right outer join; preserve key order.

        outer: use union of keys from both frames, similar to a SQL full outer join; sort keys lexicographically.

        inner: use intersection of keys from both frames, similar to a SQL inner join; preserve the order of the left keys.

        cross: creates the cartesian product from both frames, preserves the order of the left keys.
"""

'\nmerge on = column to merge\nhow{‘left’, ‘right’, ‘outer’, ‘inner’, ‘cross’}, default ‘inner’\n\n    Type of merge to be performed.\n\n        left: use only keys from left frame, similar to a SQL left outer join; preserve key order.\n\n        right: use only keys from right frame, similar to a SQL right outer join; preserve key order.\n\n        outer: use union of keys from both frames, similar to a SQL full outer join; sort keys lexicographically.\n\n        inner: use intersection of keys from both frames, similar to a SQL inner join; preserve the order of the left keys.\n\n        cross: creates the cartesian product from both frames, preserves the order of the left keys.\n'

In [61]:
data_append=data.head().name

In [62]:
data_append

0                                       The Shining
1                                   The Blue Lagoon
2    Star Wars: Episode V - The Empire Strikes Back
3                                         Airplane!
4                                        Caddyshack
Name: name, dtype: object

In [66]:
data_append2=data_append.copy()
data_append.append(data_append2,ignore_index=True)

C:\Users\Petar\AppData\Local\Temp\ipykernel_17036\699343275.py:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_append.append(data_append2,ignore_index=True)

0                                       The Shining
1                                   The Blue Lagoon
2    Star Wars: Episode V - The Empire Strikes Back
3                                         Airplane!
4                                        Caddyshack
5                                       The Shining
6                                   The Blue Lagoon
7    Star Wars: Episode V - The Empire Strikes Back
8                                         Airplane!
9                                        Caddyshack
Name: name, dtype: object

In [67]:
pd.concat([data_append,data_append2])

0                                       The Shining
1                                   The Blue Lagoon
2    Star Wars: Episode V - The Empire Strikes Back
3                                         Airplane!
4                                        Caddyshack
0                                       The Shining
1                                   The Blue Lagoon
2    Star Wars: Episode V - The Empire Strikes Back
3                                         Airplane!
4                                        Caddyshack
Name: name, dtype: object